body{
    background-color: rgb(255, 255, 255);
}

.box1{
    background-color: rgb(255, 237, 98);
    padding: 1px;
    margin: 10px;
    border: 2px solid black;
}

.box1 img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 150px;
    left: auto;

}

.box2{
    background-color: rgb(20, 96, 211);
    padding: 1px;
    margin: 10px;
    border: 3px solid black;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin-bottom: 0px;
}
h2{
    margin-top: 5px;
}

.box2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.box2 ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: justify;
}

button:hover{
    background-color: rgb(179, 223, 255);
    color: black;
}