h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;
    margin-bottom: 10px;
}

.second-page-box{
    background-color: rgb(255, 237, 98);
    padding: 40px;
    margin: 10px;
    border: 2px solid black;
}

.second-page-box img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 150px;
    left: auto;
}

h2{
    margin-top: auto;
}

body{
   background-image: url(https://wallpapers.com/images/hd/woodstock-giving-snoopy-flower-bsokr1t9n35rlaxf.jpg);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   align-items: center;
}

button{
    margin-top: 10px;
}

p{
    color: #000;
    background-color: #ffe15b;
    text-align: center;
    margin: 0px;
    padding: 0px
}

h4{
    color: brown;
    background-color: cornsilk;
}