.li img{
    width: 200px;
    height: 500px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
}

.third-page-box{
    background-color: rgb(255, 237, 98);
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
}

.third-page-box img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 150px;
    left: auto;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}